@{
    ViewData["Title"] = "Movie Collection Home";
}

@model MovieContext;

<h1 class="display-4">Movie Collection</h1>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Category</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent To</th>
            <th>Notes</th>
        </tr>
    </thead>
    @*//iterate over all movies in db*@
    @foreach (Movie m in Model.movies)
    {
        <tr>
            <td>@m.Title</td>
            <td>@m.Year</td>
            <td>@m.Category</td>
            <td>@m.Director</td>
            <td>@m.Rating</td>
            <td>@m.Edited</td>
            <td>@m.LentTo</td>
            <td>@m.Notes</td>
        </tr>
    }
</table>
