@{
    ViewData["Title"] = "Movie Collection Home";
}

@model List<Movie>;

<h1 class="display-4">The Joel Hilton Film Collection</h1>
<img src="~/img/joelhilton.jpg" />
<h2 class="mt-3">Movie List</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Category</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent To</th>
            <th>Notes</th>
        </tr>
    </thead>
    @*//iterate over all movies in db*@
    @foreach (Movie m in Model)
    {
        <tr>
            <td>@m.Title</td>
            <td>@m.Year</td>
            <td>@m.Category.CategoryName</td>
            <td>@m.Director</td>
            <td>@m.Rating</td>
            <td>@m.Edited</td>
            <td>@m.LentTo</td>
            <td>@m.Notes</td>
            <td><a asp-controller="Home" asp-action="EditMovie" asp-route-movieid="@m.MovieId">Edit</a></td>
            <td><a asp-controller="Home" asp-action="DeleteMovie" asp-route-movieid="@m.MovieId">Delete</a></td>
        </tr>
    }
</table>
